# Enable the RewriteEngine
RewriteEngine On

# Set the base directory (remove 'public' from URLs)
RewriteBase /hanzalah/saffeeraza/saffee_raza_lifetrack/public/

# Redirect all requests to index.php, except for real files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite the URL to index.php with the remaining request
RewriteRule ^(.*)$ index.php [L,QSA]
